.tracker-head{
    position: relative;
    min-width: 11rem;
    min-height: 1rem;
    padding: 1rem 1.3rem 1rem 1.3rem;
    border-radius: 15px 15px 0 0;
    z-index: 1;
    background-repeat: no-repeat;
    background-position: top -12px right 15px; 
    background-size: 5rem;
}

.tracker-body{
    min-width: 11rem;
    border-radius: 15px;
    padding: 1rem 1.3rem 1rem 1.3rem;
    background-color: hsl(235, 46%, 20%);
    color: #fff;
    position: relative;
    top: -10px;
    z-index: 2;
    font-family: 'Rubik', sans-serif;
}

.tracker-body:hover{
    background-color: hsl(235, 45%, 31%);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    cursor: pointer;
}


.setting:hover{
    color: hsl(0, 0%, 100%);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    cursor: pointer;
}

.hour-container{
    display: flex;
}

h1{
    font-weight: 300;
    font-size: 3rem;
    margin: 0;
}

p{
    font-weight: 300;
    font-size: .8rem;
    margin-left: auto;
    align-self: center;
}

h3{
    display: flex;
    font-weight: 400;
    font-size: 1rem;
}

.setting{
    margin-left: auto;
    align-self: center;
}