.tracker-head{
    width: 13.6rem;
    height: 13.6rem;
    border-radius: 5%;
    background-color: hsl(15, 100%, 70%);
    position: absolute;
    z-index: 1;
    background-image: url("/assets/icon-work.svg");
    background-repeat: no-repeat;
    background-position: top -12px right 15px; 
    background-size: 35%;
}

.tracker-body{
    width: 11rem;
    margin-top: 2.6rem;
    border-radius: 5%;
    padding: 1rem 1.3rem 1rem 1.3rem;
    background-color: hsl(235, 46%, 20%);
    color: #fff;
    position: absolute;
    z-index: 2;
    font-family: 'Rubik', sans-serif;
}

.tracker-body{
    width: 11rem;
    margin-top: 2.6rem;
    border-radius: 5%;
    padding: 1rem 1.3rem 1rem 1.3rem;
    background-color: hsl(235, 46%, 20%);
    color: #fff;
    position: absolute;
    z-index: 2;
    font-family: 'Rubik', sans-serif;
}

.tracker-body:hover{
    background-color: hsl(235, 45%, 31%);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    cursor: pointer;
}


.setting:hover{
    color: hsl(0, 0%, 100%);
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
    cursor: pointer;
}

h1{
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: -5px;
}

p{
    font-weight: 300;
    font-size: .8rem;
}

h3{
    display: flex;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: -10px;
}

.setting{
    margin-left: auto;
    align-self: center;
}